<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="home" slot="start" text="Retour"></ion-back-button>
    <ion-title>series</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1  *ngIf="!showData" class="ion-text-center">Série inexistante</h1>

  <ion-card *ngFor="let film of array">
    <img src="{{film['Poster']}}">
    <ion-card-title class="ion-text-center">{{film['Title']}}</ion-card-title>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
